.schedule-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.schedule-header *{
    margin-right: 2%;
}

.schedule-header i{
    cursor: pointer;
}

.schedule-container{
    padding: 2%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

.schedule-day-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-schedule{
    width: 15%;
    margin: 2%;
}

.admin-schedule-day{
    overflow: auto;
    border: #202020 1px solid;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--background_white);
}

.admin-form-add-staff{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.admin-form-add-staff *{
    width: 100%;
}

input[type="submit"]{
    background: var(--joel_brown);
    border: none;
    padding: 5%;
    font-family: Cormorant, serif;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: black;
}

.admin-schedule-workers form{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    margin-bottom: 2%;
    align-items: center;
}

.admin-form-add-new-staff{
    display: flex;
    flex-direction: column;
}

.add-delete-staff{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}

.add-delete-staff h2{
    margin-bottom: 5%;
}

.add-delete-staff input[type="submit"]{
    margin-top: 5%;
}

.admin-form-delete-staff *{
    width: 100%;
}

.click-all{
    display: block;
    background: white;
}