
.review-display{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 2%;
}
.window{
    height: 50%;
    overflow: hidden;
    overflow-y:scroll;
    padding: 3%;
}

.comment{
    display: block;
}

.remove-btn{
    border-style: none;
    background: transparent;
    color: var(--joel_brown);
    cursor: pointer;
    font-size: larger;
}

.remove-btn:hover{
    color: red;
}