.scheduleheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.scheduleheader *{
    margin-right: 2%;
}

.scheduleheader i{
    cursor: pointer;
}

.scheduledaycontainer{
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.scheduledaycontainer > div{
    border: #202020 1px solid;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}