.today-event {
    display: flex;
    flex-direction: column;
}

.event-image {
    width: 150px;
    height: 150px;
}

#title-event {
    display: flex;
    justify-content: center;
}

.events {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 5%;
}
