.center_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
}

.center_screen > p {
    transform: rotate(-90deg);
    font-size: 30px;
}

.days {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 35px;
}

.graph_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
}

.graph_title > button {
    margin: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.month_arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px 5px;
}

.next {
    transform: rotate(-45deg);
}

.prev {
    transform: rotate(135deg);
}

.graph {
    border-bottom: solid 3px;
    border-left: solid 3px;
    height: 60vh;
    width: 80%;
    display: flex;
    background: linear-gradient(to top, black 0, transparent 1%);
    background-size: 100% 100px;
    background-color: whitesmoke;
}

.graph > div { /*Bar Wrapper*/
    display: flex;
    flex: 1;
    padding: 0 0 0 0.2%;
    align-items: flex-end;
}

.graph > div > span { /*Bar*/
    background-color: dodgerblue;
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.title { /*Title*/
    position: absolute;
    bottom: -30px;
}

.cost {
    display: flex;
    justify-content: center;
}

.total_sales {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 5px 0;
}

@media only screen and (max-width: 800px){ /*Mobile layout*/

}