
.booking {
    display: flex;
}

.calender {
    width: 40%;
    background-color: var(--joel_brown);
    border-radius: 30px;
    border-style: solid;
    padding: 0 30px;
    height: 420px;
    max-width: 400px;
    min-width: 270px;

}

.calender-header {
    font-size: 30px;
    font-weight: 600;
    color: var(--background_white);
}

.calender-body {
}

.calender-week-day {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    font-weight: 600;
    gap: 1%;
}


.calender-week-day p {
    display: grid;
    place-items: center;
    color: var(--background_white);

}

.calender-days {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    gap: 1% 1%;
}




.week-day
{
    font-size: 30px;display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-color: var(--background_white);
    border-style: solid;
    border-width: thin;
}

.this-day {
    background-color: gray;
}

.selected {
    background-color: green;
}


.week-day:hover {
    background-color: var(--joel_brown);
}


.month-picker {
    display: flex;
    align-items: center;
    padding: 0 35%;
}

.month-change {
    width: 20px;
    border-radius: 50%;
    display: grid;
    cursor: pointer;
    padding-left: 20%;
    padding-right: 20%;

}

.month-change:hover {
    color: black;
}

.calender-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pastDay{
    background-color: white;
    opacity: 20%;
}

.booking-inputs {
    display: grid;
    padding: 0 10%;
}
.booking-inputs label {
    display: grid;
    align-content: center;
}

.submitDate{
    padding: 20% 0 0 0;
    display: grid;
}
.checkDate{
    padding: 10% 0 0 0;

}



@media screen and (max-width: 750px) {

.booking{
    display: block;
    padding: 0% 0%;
}
    .booking-inputs
    {    padding: 0% 0%;
        width: 40%;
    }
}