
.booking {
    height: 100vh;
    place-items: center;
    display: flex;
}

.calender {
    width: max-content;
    background-color: var(--joel_brown);
    border-radius: 30px;
    border-style: solid;
    padding: 0 10px;
    height: 520px;

}

.calender-header {
    font-size: 30px;
    font-weight: 600;
    color: var(--background_white);
    padding: 10px;
}

.calender-body {
}

.calender-week-day {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    font-weight: 600;
    gap: 2px;
}


.calender-week-day p {
    display: grid;
    place-items: center;
    color: var(--background_white);
}

.calender-days {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    gap: 2px;
}


.calender-days p {
    width: 50px;
    font-size: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    background-color: var(--background_white);
    border-radius: 30px;
    border-style: solid;

}

.calender-days p.this-day {
    background-color: gray;
}

.calender-days p:hover {
    background-color: var(--joel_brown);
    border-radius: 30px;
}


.month-picker {
    display: flex;
    align-items: center;
    padding: 0 35%;
}

.month-change {
    width: 20px;
    border-radius: 50%;
    display: grid;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;

}

.month-change:hover {
    color: black;
}

.calender-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.booking-inputs {
    display: grid;
    padding: 0 10%;
}

