
.lunch-days ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.lunch-days ul li {
    transition-duration: 0.2s;
    cursor: pointer;
    opacity: 0.6;
}

.lunch-items {
    display: none;
}

.lunch-item-main {
    display: flex;
    justify-content: space-between;
}


.lunch-item {
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 2%;
}

.lunch-item-main * {
    margin-bottom: 1%;
}

.lunch-item-description {
    color: #202020;
    font-size: larger;
    width: 80%;
    word-wrap: break-word;
}

.break-point {
    margin-left: 2%;
    margin-right: 2%;
}