.lunch {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.lunchItemMain {
    display: flex;
}

.lunchItemMain * {
    margin-bottom: 2%;
}

.lunchItemDescription {
    margin: 0;
    font-style: italic;
}

.breakPoint {
    margin-left: 2%;
    margin-right: 2%;
}