.lunch {
    display: flex;
    flex-direction: column;
}

.lunchItemMain {
    display: flex;
}

.lunchItem {
    margin-top: 3%;
}

.lunchItemMain * {
    margin-bottom: 2%;
}

.lunchItemDescription {
    color: #202020;
    font-size: larger;
}

.breakPoint {
    margin-left: 2%;
    margin-right: 2%;
}