.menu {
    display: flex;
    flex-direction: column;
}

.menu-days ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-days ul li {
    transition-duration: 0.2s;
    cursor: pointer;
    opacity: 0.6;
}


.menu-item-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.menu-item {
    cursor: pointer;
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 2%;
}


.menu-item-description {
    color: #202020;
    font-size: larger;
    width: 80%;
    word-wrap: break-word;
}

.break-point {
    margin-left: 2%;
    margin-right: 2%;
}

.menu-item-ingr {
    font-style: oblique;
}