:root {
    --joel_brown: #7D5A3E;
    --background_white: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v19/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDWxcZqTFUw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTc7Nq7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
    color: inherit;
}

.navigation-line-break {
    border-top: 3px solid #7D5A3E;
    opacity: 0.3;

}

h1 {
    font-family: Cinzel, cursive;
}

h2, h3, h4, p, label {
    font-family: Cormorant, serif;
}

.title {
    padding-bottom: 3%;
}

.main {
    padding: 5vh 20% 10vh;
    background-color: var(--background_white);
}

.header-container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: var(--joel_brown);
    color: white;
    padding: 0.3em 0;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-bar ul li {
    text-transform: uppercase;
    font-family: Cinzel, cursive;
    font-weight: lighter;
    font-size: xx-large;
}

.nav-bar ul li:hover {
    cursor: pointer;
    color: black;
}

.header-img {
    background: url("#{resource['images/food.png']}") center;
    background-size: cover;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border: 4px solid white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    color: white;
    width: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.circle h1 {
    font-size: 1.5em;
}


.review-form > label {
    display: none;
}

.star-name {
    display: flex;
    align-items: flex-start;
}

.review-name-input {
    margin-top: 0.8em;
    font-size: x-large;
}

.review-form > textarea {
    display: block;
    max-width: 100%;
}

.stars {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars > input {
    display: none;
}

.stars > label {
    position: relative;
    font-size: xxx-large;
    height: fit-content;
    color: #FFD700;
    cursor: pointer;
}

.stars > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.stars > label:hover:before,
.stars > label:hover ~ label:before {
    opacity: 1 !important;
}

.stars > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.last {
    padding-bottom: 6vh;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--joel_brown);
    color: white;
    padding: 1em 0 2em;
}

.footer-container * {
    font-weight: normal;
}

.checked {
    color: gold;
}

.admin-week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em 0;
}


.admin-day {
    padding: 3px;
    border: solid 1px #202020;
}

.admin-day > h3 {
    text-align: center;
}

.admin-day > hr {
    height: 1px;
    border: none;
    background-color: #202020;
}

.admin-added-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-added-item > i {
    font-size: x-large;
    cursor: pointer;
}

.admin-added-item > i:hover {
    color: red
}

.admin-add-lunch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-add-lunch > input[type='number'] {
    width: 3em;
}

@media screen and (max-width: 1200px) {
    .admin-week {
        flex-direction: column;
    }
}

.today-event {
    padding: 2% 0 5%;
}

.events {
    padding: 1% 0 0;
}


@media screen and (max-width: 750px) {
    .nav-bar ul li {
        font-size: medium;
    }

    .main {
        padding: 5vh 10% 0;
    }

    .break-point {
        display: none;
    }

    .lunch-item-main {
        justify-content: space-between;
    }

    .lunch-item-main * {
        margin: 0 3px;
    }

    .lunch-item-price {
        white-space: nowrap;
    }

    .menu-item-main {
        justify-content: space-between;
    }

    .menu-item-main * {
        margin: 0 3px;
    }

    .menu-item-price {
        white-space: nowrap;
    }

    .star-name {
        display: block;
    }

}